<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Add or Edit Song</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }

        form div{
            width: 300px;
        }
        form div input{
            margin-bottom: 10px;
        }
        form label{
            display: inline-block;
            width: 100px;
            text-align: right;
            margin-right: 10px;
        }
        form input[type=submit]{
            margin-left: 114px;
        }
    </style>
</head>
<body>
<header>
    <h1>Add or Edit Song</h1>
</header>
<main>
    <form th:action="@{/songs/add}" th:method="post">
        <!-- Hidden field for song ID -->
        <input type="hidden" name="id" th:value="${song?.id}">

        <div>
            <label for="title">Song Name:</label>
            <input type="text" id="title" name="title" th:value="${song?.title}" required>
        </div>

        <div>
            <label for="genre">Genre:</label>
            <input type="text" id="genre" name="genre" th:value="${song?.genre}" required>
        </div>

        <div>
            <label for="releaseYear">Release Year:</label>
            <input type="number" id="releaseYear" name="releaseYear" th:value="${song?.releaseYear}" required>
        </div>

        <div>
            <label for="albumId">Album:</label>
            <select id="albumId" name="albumId" required>
                <option th:each="album : ${albums}"
                        th:value="${album.id}"
                        th:text="${album.name}"
                        th:selected="${song?.album?.id == album.id}">
                </option>
            </select>
        </div>

        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</main>
</body>
</html>
