<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Song Details</title>

</head>
<body>
<header>
    <h1 th:text="${song.getTitle()}">Song title</h1>
</header>
<section>
    <h2 th:text="${song.getGenre()}">Genre</h2>
    <h2 th:text="${song.getReleaseYear()}">Year</h2>
    <h2>Performers:</h2>
    <ul>
        <li th:each="artist : ${song.getPerformers()}" th:text="${artist.getFirstName()} + ' ' + ${artist.getLastName()}" >Jon Bon Jovi</li>
    </ul>
</section>

    <p>Visited: <a th:text="${count}">1</a></p>

        <ul>
            <li th:each="comment : ${song.comment}" th:text="${comment.text}"></li>
        </ul>

    <form action="/song/song-details/add-comment" method="post">
        <input type="hidden" name="id" th:value="${song?.id}">

        <label for="comment">Enter a comment</label>
        <input type="text" name="comment" id="comment">
        <input type="submit" value="Submit">
    </form>

    <a href="/songs"><button>Back</button></a>

</body>
</html>